*, .left> ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}

:root{    
    --primary-color: black;
    --secondary-color: #EBEDF0;
    --tertiary-color: white;
}
.dark-theme{
    --primary-color: white;
    --secondary-color: #1C1E21;
    --tertiary-color: #303338;

}
main{
    background-color: var(--secondary-color);
}
header, main> .main> .post, .what, .left> ul{
    background-color: var(--tertiary-color);
}
svg *, aside i{
    color: #0d6efd;
}   
.col-10 input{
    width: 70%;
    height: 35px;
    border-radius: 20px;
    font-size: .9em;
}
.mid> .icon button{
    background-color: transparent !important;
    margin-top: -1000px !important;
    border: none !important;
}
.icon ul li a img,.left ul li a img{
    width: 25px;
}
.left a{
    margin-right: 5px;
}
.left> button{
    align-items: flex-start;
    background-color: transparent !important;
    border: none !important;
    height: 30px;
    top: -3px;
}
button p{
    margin-bottom: 0px !important;
    width: 120px !important;
}
aside i{
    font-size: 25px;
    width: 50px;
}
.links a p{
    height: 35px;
    display: flex;
    align-items: center;
}
main{
    height: 2000px;
}
main> .main> .topb{
    margin: auto;
    overflow: scroll;
    width: 90%;
    height: 170px;
    height: 150px;
}
main> .main> .topb::-webkit-scrollbar {
    width: 0px;
    height: 10px;
}
main> .main> .topb::-webkit-scrollbar-track {
    background: transparent;
}
main> .main> .topb::-webkit-scrollbar-thumb {
    background: transparent;
}
main> .main> .topb::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
main> .main> .topb> .boxes> .boxes1{
    width: 100px;
    margin-right: 10px;
    background-color: black;
    border-radius: 10px;
    height: 100%;
}
main> .main> .topb> .boxes> .boxes1 p{
    color: white;
}
main> .main> .topb> .boxes> .boxes1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: .9;
}
main> .main> .topb> .boxes> .boxes1 p{
    position: absolute;
    bottom: 0px;
    width: 90px;
}

main> .main> .what{
    width: 75%;
    height: 120px;
    border-radius: 10px;
}
.what> .post> input{
    width: 90%;
    border-radius: 20px;
    height: 30px;
}
.what> ul li{
    display: flex;
    font-size: 15px;
    margin-right: 5%;
}
main> .main> .post{
    border-radius: 10px;
}
.post> .top .image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.post> .top .image img{
    height: 90px;
    position: absolute;
    top: -30px;
    left: -5px;
}
.post> .lcs{
    margin-bottom: -10px
}
.image1{
    width: 40px;
    height: 40px;
    background-color: white;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.image1 img{
    height: 90px;
    position: absolute;
    top: -30px;
    left: -5px;
}
.lcs li i{
    font-size: 30px;
}
.wimage{
    margin-top: 10px;
}
.wimage p{
    margin-left: 10px;
}