*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{    
    --primary-color: black;
    --secondary-color: #f8f9fa;
    --tertiary-color: #EBEDF0;
}
.dark-theme{
    --primary-color: white;
    --secondary-color: #282828;
    --tertiary-color: rgba(0, 0, 0, 0.8);

}
svg{
    color: #0d6efd;
}
.col input{
    border: none;
    border-radius: 50px;
}
.profile{
    font-size: 30px;
}
.dropdown-item img{
    height: 30px;
    width: 30px;
}
main{
    height: 2150px;
}
main> div> div> aside> div> .create{
    color:white;
    border-radius:20px;
}
main> div> div> .left> .mid a{
    margin-top: 20px;
}
main> div> div> .left> .mid i{
    width: 50px;
    font-size: 25px;
}
main> div> div> .left> .mid p{
    font-size: 18px;
}
main> div> div> .left> .bot> .ab .gos{

    margin-top: -15px;
}
main> div> div> .left> .bot> .ab .gos i{
    font-size: 30px;
    height: 50px;
    display: flex;
    align-items: center;
}
main> div> div> .left> .bot> .ab> .gos> p{
    height: 50px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--primary-color);
}
main> div >div .main{
    height: 600px;
}
main> div> div> .main> .topb> .boxes{
    width: 18%;
    height: 180px;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
    position: relative;
}
main> div> div> .main> .topb> .boxes> img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: gray;
    opacity: .7;
    z-index: -1;
}
main> div> div> .main> .topb> .boxes> .bbox{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
}
main> div> div> .main> .topb> .boxes> .circle{
    height: 35px;
    width: 35px;
    top: 5px;
    left: 3px;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid #0d6efd;
    overflow: hidden;
}
main> div> div> .main> .topb> .boxes> .circle img{
    width: 100%;
}
main> div> div> .main> .topb> .boxes> .bbox> p{
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: -10px;
}
.post{
    flex-wrap: wrap;
}
.wimage{
    margin-bottom: 20px;
}
.wimage> .image{
    margin-right: 10px;
}
.cstory{
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0px;
}
.cstory div{
    display: flex;
    justify-content: center;
}
.profile i, .dropdown> button, .dropdown> ul> li> a, .links> a> p, .bot> p, .name> p, .row> .col-12, .row> .col-4> a, aside> .contacts, .topb p, .conname, input, section p, .narrow a> i{
    color: var(--primary-color);
}

header, .main .post, .dropdown> ul, .narrow{
    background-color: var(--secondary-color);
}
main,input, .main .post input {
    background-color: var(--tertiary-color);
}
.create{
    color:black;
} 
